<div class="container-fluid">
    <div class=" row">
        <div class="col-12 py-1 my-3 header-upcoming"><strong>Order History</strong></div>
        {% if order_count <= 0 %}
        <p>You haven't placed any orders yet.</p>
        {% else %}
        <div class="col-2 text-dark text-left d-none d-md-block border-bottom font-weight-bold">Order #</div>
        <div class="col-2 text-dark text-left d-none d-md-block border-bottom font-weight-bold">Date</div>
        <div class="col-6 text-dark text-left d-none d-md-block border-bottom font-weight-bold">Items</div>
        <div class="col-2 text-dark text-left d-none d-md-block border-bottom font-weight-bold">Total</div>
        {% for order in orders %}

        <div class="col-3 text-info text-left pl-1 text-grid-events d-md-none">Order #</div>
        <div class="col-9 text-left text-grid-events d-md-none">
            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                {{ order.order_number|truncatechars:15 }}
            </a>
        </div>
        <div class="col-2 text-dark text-left d-none d-md-block border-bottom">
            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                <small>{{ order.order_number|truncatechars:15 }}</small>
            </a>
        </div>

        <div class="col-3 text-info text-left pl-1 text-grid-events d-md-none">Date</div>
        <div class="col-9 text-left text-grid-events d-md-none">
            {{ order.date|date:"d M Y" }}
        </div>
        <div class="col-2 text-dark text-left d-none d-md-block border-bottom">
            {{ order.date|date:"d M Y" }}
        </div>

        <div class="col-3 text-info text-left pl-1 text-grid-events d-md-none">Items</div>
        <div class="col-9 text-left text-grid-events d-md-none">
            <ul class="list-unstyled mb-0">
                {% for item in order.lineitems.all %}
                <li>
                    {{ item.cd.name }} (x{{ item.quantity }})
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 text-dark text-left d-none d-md-block border-bottom">
            <ul class="list-unstyled mb-0">
                {% for item in order.lineitems.all %}
                <li>
                    {{ item.cd.name }} (x{{ item.quantity }})
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-3 text-info text-left pl-1 text-grid-events d-md-none">Total</div>
        <div class="col-9 text-left text-grid-events d-md-none">
            <strong>€{{ order.grand_total }}</strong>
        </div>
        <div class="col-2 text-dark text-left d-none d-md-block border-bottom text-right">
            <strong>€{{ order.grand_total }}</strong>
        </div>

        <div class="col-12 events-divider d-md-none"></div>

        {% endfor %}
        {% endif %}
    </div>
</div>