{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="header-container"></div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
    <h1>Calendar</h1>
</div>

{% include 'includes/event_grid_lg.html' %}
{% include 'includes/event_grid_sm.html' %}

{% if request.user.is_superuser %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-black rounded-0" href="{% url 'add_event' %}">Add Event</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block page_footer %}
<div class="container footer-container"></div>
{% endblock page_footer %}