[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pycodestyle = "*"
flake8 = "*"
autopep8 = "*"
pylint = "*"

[packages]
django = "*"
dj-database-url = "*"
gunicorn = "*"
django-allauth = "*"
django-crispy-forms = "*"
stripe = "*"
coverage = "*"
psycopg2-binary = "*"
boto3 = "*"
pillow = "*"
django-storages = "*"
django-countries = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
