{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="overlay"></div>
<div class="wrapper">
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h2 class="mb-4">My Profile</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-lg-6">
                {% include 'includes/delivery_information.html' %}
            </div>
            <div class="col-12 col-lg-6 mt-5 mt-md-0">
                {% include 'includes/user_information.html' %}
            </div>
            <div class="col-12 mt-5">
                {% include 'includes/order_history.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postjs %}
{{ block.super }}
<script src="{% static 'profiles/js/countryfield.min.js' %}"></script>
{% endblock postjs %}