<!-- Modal -->
<div class="modal fade" id="biography" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Biography</h5>
            </div>
            <div class="modal-body">
                <p>
                    <span class="accent-modal">Guillermo</span> was born and grew up in Argentina and, albeit not a typical Argentinian, he still retains certain national characteristics including the love for <span class="accent-modal">cooking</span>, the vehemency for <span class="accent-modal">debating</span> and the passion for making <span class="accent-modal">music</span>.</p>
                <p>
                    Guillermo settled in The Netherlands in 1995 in order to perfect his skills in <span class="accent-modal">at least one</span> of those disciplines.
                </p>
                <p>
                    He graduated from the <span class="accent-modal">Conservatory of Amsterdam</span> and has collaborated as a soloist and basso continuo player with many renowned orchestras including the Residentie Orkest, Nederlands Kamerorkest and The New Dutch Academy. </p>
                <p>
                    It is, however, in making <span class="accent-modal">chamber music</span> that Guillermo’s unique improvisational skills and his “supple gravitas” on the harpsichord can be properly enjoyed. His debut solo recording,<span class="accent-modal">“Ciaconna”</span>, has been released on Resonus Classics with enthusiastic reviews (BBC Music Magazine Instrumental Choice May 2014) followed by <span class="accent-modal">“Divine Noise”</span>, a recording of his own arrangement for two harpsichords of the opera Platée by Jean-Philippe Rameau, together with Dutch harpsichordist and former teacher <span class="accent-modal">Menno van Delft</span>.
                </p>
                <p>
                    A co-founder of successful <span class="accent-modal">Ensemble Fantasticus</span>, he recorded 6 albums with this critically acclaimed baroque trio.
                    Next to it, Guillermo has a lifelong mission to rediscover and promote the neglected work of <span class="accent-modal">Wilhelm Friedemann Bach</span>.
                    Guillermo is very active as a researcher and <span class="accent-modal">music editor</span>, working in close cooperation with <span class="accent-modal">Cambridge University Press</span> and other international institutions, having prepared first editions of numerous works from the XVII and XVIII centuries.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline-black rounded-0" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>