{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h2 class="logo-font mb-4">Thank You</h2>
            <p class="text-black mb-0">Your order information is below.</p>
            <p class="text-black">A confirmation email {% if from_profile %}was {% else %} will be{% endif %} sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7">
            <div class="order-confirmation-wrapper p-2 border">
                <div class="row">
                    <div class="col-12 text-left">
                        <small class="mb-0 text-black font-weight-bold">Order Number: </small>
                    </div>
                    <div class="col-12 text-left">
                        <small class="mb-0">{{ order.order_number }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <small class="mb-0 text-black font-weight-bold">Order Date:</small>
                    </div>
                    <div class="col-12 text-left">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <small class=" font-weight-bold">Order Details:</small>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 text-left">
                        <p class="mb-0 text-black">{{ item.cd.name }} ({{ item.quantity }}), at €{{ item.cd.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col text-left">
                        <small class="font-weight-bold">Delivery to:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                    {% if order.street_address2 %}
                    <div class="col-12 text-left">
                        <p class="mb-0">{{ order.street_address2 }}</p>
                    </div>
                    {% endif %}
                    <div class="col-12 text-left">
                        <p class="mb-0">{% if order.postcode %}{{ order.postcode }}, {% endif %}{{ order.town_or_city }}, {{ order.country }}</p>
                    </div>
                    <div class="col-12 text-left">
                        <p class="mb-0">Phone: {{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <small class="mb-0 text-black font-weight-bold">Order Total:</small>
                    </div>
                    <div class="col-12 col-md-8 text-left">
                        <p class="mb-0">€{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <small class="mb-0 text-black font-weight-bold">Shipping Cost:</small>
                    </div>
                    <div class="col-12 text-left">
                        <p class="mb-0">€{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <small class="mb-0 text-black font-weight-bold">Grand Total:</small>
                    </div>
                    <div class="col-12 text-left">
                        <p class="mb-0 font-weight-bold">€{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back to Profile</span>
            </a>
            {% else %}
            <a href="{% url 'shop' %}" class="btn btn-black rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-gifts"></i>
                </span>
                <span class="text-uppercase">Keep shopping!</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block page_footer %}
<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_footer %}