<div class="container-fluid d-block d-lg-none">
    <div class="row mx-2">
        <div class="col-12 py-3"><strong>Past Events</strong></div>
        {% for event in calendar %}
        {% if event.is_due %}
        <div class="col-3 border bg-secondary text-light text-left pl-1"><small>Date</small></div>
        <div class="col-9 border text-left"><small>{{ event.date|date:"j M Y" }}, {{ event.time|date:"H:i" }}hs</small></div>
        <div class="col-3 border bg-secondary text-light text-left pl-1"><small>Programme</small></div>
        <div class="col-9 border text-left">{{ event.programme }}</div>
        <div class="col-3 border bg-secondary text-light text-left pl-1"><small>Venue</small></div>
        <div class="col-9 border text-left">{% if event.event_url %}<a href="{{ event.event_url }}" target="_blank">{{ event.venue }}</a>{% else %}{{ event.venue }}{% endif %}</div>
        {% if request.user.is_superuser %}
        <div class="col-12 mb-5">
            <small class="font-weight-bold">
                <a href="{% url 'edit_event' event.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_event' event.id %}">Delete</a>
            </small>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    <div class="row mx-2">
        <div class="col-12 py-3"><strong>Upcoming Events</strong></div>
        {% for event in calendar %}
        {% if event.is_future %}
        <div class="col-3 border bg-info text-light text-left pl-1"><small>Date</small></div>
        <div class="col-9 border text-left"><small>{{ event.date|date:"j M Y" }}, {{ event.time|date:"H:i" }}hs</small></div>
        <div class="col-3 border bg-info text-light text-left pl-1"><small>Programme</small></div>
        <div class="col-9 border text-left">{{ event.programme }}</div>
        <div class="col-3 border bg-info text-light text-left pl-1"><small>Venue</small></div>
        <div class="col-9 border text-left">{% if event.event_url %}<a href="{{ event.event_url }}" target="_blank">{{ event.venue }}</a>{% else %}{{ event.venue }}{% endif %}</div>
        {% if request.user.is_superuser %}
        <div class="col-12 mb-5">
            <small class="font-weight-bold">
                <a href="{% url 'edit_event' event.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_event' event.id %}">Delete</a>
            </small>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>