<div class="container d-none d-lg-block">
    <div class="row">
        <div class="col-12 py-3"><strong>Past Events</strong></div>
        <div class="col-2 border bg-secondary text-light text-left py-3">Date</div>
        <div class="col-7 border bg-secondary text-light text-left py-3">Programme</div>
        <div class="col-2 border bg-secondary text-light text-left py-3">Venue</div>
        <div class="col-1 border bg-secondary text-light text-left py-3">Link</div>
        {% for event in calendar %}
        {% if event.is_due %}
        <div class="col-2 border bg-white text-left py-1"><small>{{ event.date|date:"j M Y" }}, {{ event.time|date:"H:i" }}hs</small></div>
        <div class="col-7 border bg-white text-left py-1">{{ event.programme }}</div>
        <div class="col-2 border bg-white text-left py-1">{{ event.venue }}</div>
        <div class="col-1 border bg-white text-left py-1">{% if event.event_url %}<a href="{{ event.event_url }}">Link</a>{% else %}<small>No Link</small>{% endif %}</div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="row mt-5">
        <div class="col-12 py-3"><strong>Upcoming Events</strong></div>
        <div class="col-2 border bg-info text-light text-left py-3">Date</div>
        <div class="col-7 border bg-info text-light text-left py-3">Programme</div>
        <div class="col-2 border bg-info text-light text-left py-3">Venue</div>
        <div class="col-1 border bg-info text-light text-left py-3">Link</div>
        {% for event in calendar %}
        {% if event.is_future %}
        <div class="col-2 border bg-white text-left py-1"><small>{{ event.date|date:"j M Y" }}, {{ event.time|date:"H:i" }}hs</small></div>
        <div class="col-7 border bg-white text-left py-1">{{ event.programme }}</div>
        <div class="col-2 border bg-white text-left py-1">{{ event.venue }}</div>
        <div class="col-1 border bg-white text-left py-1">{% if event.event_url %}<a href="{{ event.event_url }}">Link</a>{% else %}<small>No Link</small>{% endif %}</div>
        {% endif %}
        {% endfor %}
    </div>
</div>