{% load static %}
<footer class="footer fixed-bottom navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="navbarDropdown" role="button">
                    Link
                </a>
            </li>
        </ul>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item">
                    <a class="text-info font-weight-bold text-nav nav-link" href="">
                        <div class="text-center">
                            <div><i class="fab fa-facebook fa-lg"></i></div>
                        </div>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="text-info font-weight-bold text-nav nav-link" href="">
                        <div class="text-center">
                            <div><i class="fab fa-twitter fa-lg"></i></div>
                        </div>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="text-info font-weight-bold text-nav nav-link" href="">
                        <div class="text-center">
                            <div><i class="fab fa-instagram fa-lg"></i></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>