{% load static %}

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-left">
                <h6>About</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, laborum delectus ipsam asperiores, culpa doloremque soluta quos repellendus esse vitae, rem cupiditate sequi ipsum quibusdam.</p>
            </div>
            <div class="col-12 col-md-6 text-left text-md-right">
                <h6>Contact</h6>
                <ul class="footer-links">
                    <li><i class="fas fa-home mr-3"></i>Waddenweg 149,</li>
                    <li>2134XL, Hoofddorp, NL</li>
                    <li><i class="fas fa-phone mr-3"></i>+31 6 5106 3002</li>
                    <li><i class="fas fa-envelope mr-3"></i><a href="mailto:brachetta@me.com">brachetta@me.com</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12 text-left">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>







