{% load bag_tools %}
<div class="row mx-0">
    <div class="col-6 py-1 my-3 header-upcoming d-none d-md-block"><strong>CD Information</strong></div>
    <div class="col-2 py-1 my-3 header-upcoming d-none d-md-block"><strong>Price</strong></div>
    <div class="col-2 py-1 my-3 header-upcoming d-none d-md-block"><strong>Quantity</strong></div>
    <div class="col-md-2 py-1 my-3 header-upcoming d-none d-md-block"><strong>Subtotal</strong></div>
</div>

{% for item in bag_items %}
<div class="row my-md-3">
    <div class="col-3 d-none d-md-block">
        {% include 'includes/product-image.html' %}
    </div>
    <div class="col-3 text-left d-none d-md-block">
        {% include 'includes/product-info.html' %}
    </div>
    <div class="col-2 d-none d-md-block">
        <p class="my-0">€{{ item.cd.price }}</p>
    </div>
    <div class="col-2 d-none d-md-block">
        {% include 'includes/quantity-form.html' %}
    </div>
    <div class="col-2 d-none d-md-block">
        <p class="my-0">€{{ item.cd.price | calc_subtotal:item.quantity }}</p>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col text-right d-none d-md-block">
        {% include 'includes/bag-total.html' %}
    </div>
</div>
<div class="row mb-3">
    <div class="col text-right d-none d-md-block">
        {% include 'includes/checkout-buttons.html' %}
    </div>
</div>

