{% extends 'base.html' %}
{% load static %}
{% block postcss %}
<link rel="stylesheet" href="{% static 'album/css/lightbox.css' %}" />

{% endblock postcss %}
{% block page_header %}
<div class="container header-container"></div>
{% endblock page_header %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-3 mt-md-5">
    <div class="grid">
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>
        <div class="grid-col grid-col--3"></div>
        {% for media in album %}
        <div class="grid-item">
            {% if media.image %}
            <a href="{{ media.image.url }}" data-lightbox="album" data-title="{{ media.caption }}">
                <img src="{{ media.image.url }}" alt="{{ media.image.name }}">
            </a>
            {% else %}
            <a href="{{ MEDIA_URL }}noimage.png" data-lightbox="album" data-title="{{ media.caption }}">
                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ media.name }}">
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if request.user.is_superuser %}
    {% include 'includes/album_admin.html' %}
    {% endif %}
</div>

{% endblock content %}

{% block page_footer %}
<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_footer %}

{% block postjs %}
{{ block.super }}
<script src="https://unpkg.com/colcade@0/colcade.js"></script>
<script src="{% static 'album/js/lightbox.js' %}"></script>
<script src="{% static 'album/js/album.js' %}"></script>
{% endblock %}