{% extends 'base.html' %}
{% load static %}
{% block postcss %}
<link rel="stylesheet" href="{% static 'album/css/lightbox.css' %}" />

{% endblock postcss %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4">Photo Album</h2>
            <hr>
        </div>
    </div>
</div>
<!--
<div class="container">
    <div class="grid">
        <div class="grid-sizer"></div>
        {% for photo in album %}
        <div class="grid-item">
            <a href="{{ photo.image.url }}" data-lightbox="album" data-title="{{ photo.caption }}">
                <img src="{{ photo.image.url }}" alt="{{ photo.image.name }}" width="400">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
-->

<div class="container">
    <div class="grid">
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>
        <div class="grid-col grid-col--3"></div>
        {% for photo in album %}
        <div class="grid-item">
            <a href="{{ photo.image.url }}" data-lightbox="album" data-title="{{ photo.caption }}">
                <img src="{{ photo.image.url }}" alt="{{ photo.image.name }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}

{% block page_footer %}
<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_footer %}

{% block postjs %}
{{ block.super }}
<!--
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
-->
<script src="https://unpkg.com/colcade@0/colcade.js"></script>



<script src="{% static 'album/js/lightbox.js' %}"></script>
<script src="{% static 'album/js/album.js' %}"></script>
{% endblock %}