<div class="row my-5">
    <div class="col">
        <hr>
        <h5>For Administrators</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <a class="btn btn-outline-black rounded-0" href="{% url 'add_media' %}">Add Media</a>
        </div>
        {% for media in album %}
        {% if media.image %}
        <div class="col-2 px-1"><img src="{{ media.image.url }}" width="50" height="50"></div>
        {% else %}
        <div class="col-2 px-1"><img src="{{ MEDIA_URL }}video.png" width="50" height="50"></div>
        {% endif %}
        <div class="col-3 text-left px-1"><small>{{ media.name }}</small></div>
        <div class="col-4 col-md-5 text-left px-1"><small>{{ media.caption }}</small></div>
        <div class="col-3 col-md-2 text-right px-1 font-weight-bold">
            <a href="{% url 'edit_media' media.id %}">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a> |
            <a class="text-danger" title="Remove" data-toggle="modal" data-target="#deleteMediaModal{{ forloop.counter }}">
                <i class="fas fa-trash"></i>
            </a>
            {% include 'includes/delete_media_modal.html' %}
        </div>
        <div class="col-12">
            <hr>
        </div>
        {% endfor %}
    </div>
</div>