{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!--Spacer-->
<div class="header-container"></div>
{% endblock page_header %}

{% block content %}
<div id="delivery-banner" class="row text-center">
    <div class="col text-black bg-warning py-2">
        <h4 class="logo-font my-1">Free delivery if you buy
            {{ free_delivery_threshold }} CDs!
        </h4>
    </div>
</div>
<h1 class="mt-5 pt-lg-5 cd-title">{{ cd.name }}</h1>
<div class="container">
    <div class="row">
        <div class="col text-center">
            {% if request.user.is_superuser %}
            <!-- Edit/delete Admins-->
            <p class="mb-0 font-weight-bold lead">
                <a href="{% url 'edit_cd' cd.id %}">
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                </a> |
                <a class="text-danger" title="Remove" data-toggle="modal"
                    data-target="#deleteCdModal">
                    <i class="fas fa-trash"></i>
                </a>
            </p>
            {% include 'includes/delete_cd_modal.html' %}
            {% endif %}
        </div>
    </div>
</div>
{% include 'includes/cd_details_content.html' %}
{% endblock content %}

{% block page_footer %}
<!--Spacer-->
<div class="footer-container"></div>
{% endblock page_footer %}

{% block postjs %}
{{ block.super }}
<script src="{% static 'shop/js/quantity_input_script.min.js' %}"></script>
{% endblock postjs %}