{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="overlay"></div>

<div class="container-fluid">
    <div id="delivery-banner" class="row text-center">
        <div class="col text-black">
            <h4 class="logo-font my-1">Free delivery if you buy {{ free_delivery_threshold }} CDs!</h4>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <hr>
            <h2 class="mb-4">Shop Here</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">
                {% for cd in cds %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if cd.image %}
                        <a href="{% url 'cd_detail' cd.id %}">
                            <img src="{{ cd.image.url }}" alt="{{ cd.name }}" class="card-img-top img-fluid">
                        </a>
                        {% else %}
                        <a href="{% url 'cd_detail' cd.id %}">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ cd.name }}" class="card-img-top img-fluid">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0 lead font-weight-bold">{{ cd.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col text-center">
                                    <p class="font-weight-bold mb-0">€{{ cd.price }}</p>
                                    {% if request.user.is_superuser %}
                                    <small>
                                        <a href="{% url 'edit_cd' cd.id %}">Edit</a> |
                                        <a class="text-danger" href="{% url 'delete_cd' cd.id %}">Delete</a>
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




{% endblock content %}