{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!--Spacer-->
<div class="header-container"></div>
{% endblock %}

{% block content %}
<div id="delivery-banner" class="row text-center">
    <div class="col text-black bg-warning py-2">
        <h4 class="logo-font my-1">Free delivery if you buy
            {{ free_delivery_threshold }} CDs!
        </h4>
    </div>
</div>
<div class="container-fluid mt-md-5">
    <div class="row">
        <div class="col">
            <h2 class="my-5">Shop Here</h2>
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">
                {% for cd in cds %}
                {% include 'includes/shop_contents.html' %}
                {% include 'includes/dividers.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block page_footer %}
<!--Spacer-->
<div class="footer-container"></div>
{% endblock page_footer %}